# SIMAP Project - Dependencies
# =============================

# Umgebungsvariablen
python-dotenv>=1.0.0

supabase>=2.0.0  # Supabase Python Client


# Web UI (Flask)
Flask>=3.0.0
Werkzeug>=3.0.0

# Optional: Für erweiterte Features
# sqlalchemy>=2.0.0       # ORM für Datenbanken
# Flask-Login>=0.6.3      # Benutzer-Session-Management
# Flask-Bcrypt>=1.0.1     # Passwort-Hashing
# Flask-CORS>=4.0.0       # CORS für API
pydantic>=2.0.0


flask
gunicorn

###test

